## gitignore

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv.txt
venv/
.env/
.venv/

# Photos
data/

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
