# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
env/
venv/
env.bak/
.venv.bak/

# Flask uploads or cache
instance/
uploads/
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/

# Docker
*.pid
docker-compose.override.yml
docker-compose.yml
Dockerfile.dev
.dockerignore

# Model and data (heavy files)
backend/model/
data/

